---
services:
#  backend:
#    image: nodejsapi:1.0
#    ports:
#      - '3000:3000'
#    depends_on:
#    - db
#    environment:
#      - DATABASE_URL=postgresql://docker:docker@db:5432/pg_user_gen?schema=public
#      - PORT=3000
#      - NODE_ENV=dev
#      - JWT_SECRET=071a044c-cf46-4667-8544-f0b5582ebf1a
#      - EMAIL_ADDRESS=naysonoliveira017@gmail.com
#      - EMAIL_PASS=qiwt cslc yzzz rrit
#    networks:
#      - api_rede
  db:
    image: bitnami/postgresql:latest
    restart: always
    environment:
      - POSTGRESQL_USERNAME=docker
      - POSTGRESQL_PASSWORD=docker
      - POSTGRESQL_DATABASE=pg_user_gen
    ports:
      - "5432:5432"
    networks:
      - api_rede
networks:
  api_rede:
    driver: bridge